.userSpace{
	border: 1px solid #d4cfcf;
    width: 400px;
    margin:20px;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    background-color: rgba(186, 200, 224, 0.66);//rgba(23, 66, 136, 0.66);
    box-shadow: 10px 10px 5px #888888;
}
.headerSection{
	padding: 10px;
	padding-bottom: :20px;
	color:white;//#3232a2;
	background-color: rgba(23, 66, 136, 0.66);//rgba(20, 158, 121, 0.88);
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.existingMember{
    float:left;
    width: 250px;
}
.gotoAdmin{
    padding-top: 40px;
    padding-right: 40px;
    cursor:pointer;
}
.formActions{
    padding-top: :10px;
}
.delMultipleSpacesDiv{
    float: left;
    padding-top: 40px;
    cursor :pointer;
    padding-right: 40px;
}
.statDiv{
    float: left;
    padding-top: 40px;
    cursor :pointer;
}
.delMultiSpacesText{
    cursor: pointer;
    color: red;
}
.deleteUsr {
    padding-left: 10%;
    color: red;
}
.deleteSpace{
	float: right;
    color: #a53d3d;
    cursor:pointer;
}
.addUserDiv{
	float: left;
    padding-top: 40px;
    cursor: pointer;
}
.pageOptions {
    float: right;
}
.editSpace{
	float: right;
    padding-right: 20px;
    color: #de984b;//#dcb56d;
    cursor:pointer;
}
.spaceDescr{
	padding: 10px;
	padding-top: 30px !important;
	color: #8a8282;//#d6d4d4;
}
.newMembersDiv_drpDwn {
    padding: 10px;
}
.userSpaceContent{
}
#spcMembers{
	height:initial !important;
}
.userIcon{
	color:grey;
	padding-right: 10px;
}
.userSpaceContainerRight{
	float:left;
}
.userSpaceContainerLeft{
	width: 35%;
    float: left;
    margin-right: 10%;
}
.searchIcon{
    float: right;
    color: grey;
}
.userSpaceContainer{
	width: 100%;
    float: left;
    padding: 5%;
    padding-left: 10%;
    padding-top: 20px !important;
}
.searchBar {
    border-left: none;
    border-right: none;
    border-top: none;
    float: right;
    margin-right: 20px;
}
.searchSpaces{
    padding-bottom: 30px
}
.newSpace{
	padding-left: 5px;
	cursor: pointer;
	float:right;
}
.pageOptions{
	float: right;
}
.pgTitle{
	float:left;
}
.addSpaceDiv{
	float:right;
	padding: 40px;
}
.addDiv{
	color:green;
	padding-left: :10px;
	cursor: pointer;
}

.spcMembers_drpDwn{
	padding: 10px;
}
.createdByUser_drpDwn{
	padding-left: 10px;
}
div#createdByUser .deleteDrpDwn{
	display: none;
}
.headerDiv{
	width:100%;
	//background-color: rgba(23, 66, 136, 0.66);
	background-color: rgba(42, 95, 150, 0.81);
    height: 80px;
    color: white;

}
.deleteDrpDwnIcon{
	padding-left: 10px;
	color:red;
	cursor: pointer;
}
.formButton{
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 20px;
}
